@charset "utf-8";
.m-ending.play{
    -webkit-animation:translateZ(0);
    .m-ending-hd{
        -webkit-animation:scale 1s ease forwards;
    }
}
.m-ending-hd{
    background-color:#fff;
    position:absolute;
    left:50%;
    top:10%;
    margin-left:-30%;
    color:#61ace0;
    width:60%;
    padding:.20rem 0;
    border-radius:.15rem;
    box-shadow:0 0 0.05rem rgba(0,0,0,.3);
    line-height:1.5;
    &:before,&:after{
        content:"\0020";
        position:absolute;
        left:0;
        border-radius:50%;
        border:.05rem solid #61ace0;
        box-shadow:0 0 .05rem rgba(0,0,0,.3);
        background-color:#fff;
    }
    &:before{
        bottom:-.20rem;
        left:-.05rem;
        width:.30rem;
        height:.30rem;
    }
    &:after{
        bottom:-.25rem;
        left:-.07rem;
        width:.15rem;
        height:.15rem;
    }
}